.App{
    background-image: url("file:///C:/Users/IT%20LINKS/Downloads/wthr.jpg");
    height: 625px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;

}
p{
    font-size: 30px;
    font-weight: bold;
    
}
.data{
    width: 650px;
    height: 300px;
    padding-top: 50px;
    align-items: center;
    margin-left: 350px;
}
.loc{
    padding-right: 10px;
    
}